<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="product" type="com.example.demo.domain.Product"*/-->
<table>
    <tr>
        <th>id</th>
        <td th:text="${product.id}"></td>
    </tr>
    <tr>
        <th>product_code</th>
        <td th:text="${product.productCode}"></td>
    </tr>
    <tr>
        <th>name</th>
        <td th:text="${product.name}"></td>
    </tr>
    <tr>
        <th>col</th>
        <td th:text="${product.col}"></td>
    </tr>
</table>
</body>
</html>